flow.txt
[{"id":"e13dcab6.a5f078","type":"websocket in","z":"ffec9165.579cc","name":"","server":"cb45ad1e.e9889","client":"","x":404,"y":202,"wires":[["f0851bcd.dae518"]]},{"id":"f0851bcd.dae518","type":"function","z":"ffec9165.579cc","name":"write message","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":608,"y":202,"wires":[["262873ca.3de45c"]]},{"id":"262873ca.3de45c","type":"websocket out","z":"ffec9165.579cc","name":"","server":"cb45ad1e.e9889","client":"","x":812,"y":202,"wires":[]},{"id":"9cb5da4c.bda768","type":"http in","z":"ffec9165.579cc","name":"","url":"/chat","method":"get","swaggerDoc":"","x":412,"y":270,"wires":[["6db69612.a4ab98"]]},{"id":"6db69612.a4ab98","type":"template","z":"ffec9165.579cc","name":"get page","field":"payload","fieldType":"msg","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":588,"y":270,"wires":[["5d62d522.8f952c"]]},{"id":"5d62d522.8f952c","type":"http response","z":"ffec9165.579cc","name":"","x":721,"y":270,"wires":[]},{"id":"7638de6b.94d47","type":"twitter in","z":"ffec9165.579cc","twitter":"","tags":"travel","user":"false","name":"","topic":"tweets","inputs":0,"x":290,"y":442,"wires":[[]]},{"id":"8cf03290.9f413","type":"function","z":"ffec9165.579cc","name":"","func":"node.warn(msg.sentiment);\nconst tweetInfo = text => {\n    const userReg = /@(\\w+)/g;\n    const htReg = /#(\\w+)/g;\n    const linkReg = /https:\\/\\/t.co\\/(\\w+)/g;\n    \n    return {\n        text: text,\n        sentiment: msg.sentiment,\n        users: (text.match(userReg)||[]).map(\n            u => u.substr(1)\n        ),\n        hashTags: (text.match(htReg)||[]).map(\n            ht => ht.substr(1)\n        ),\n        link: text.match(linkReg) || []\n    };\n}\nconst tweet = msg.payload;\nmsg.payload = tweetInfo(tweet);\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":442,"wires":[["88d3d30a.97dd","5404a465.27056c"]]},{"id":"a517b469.18cb28","type":"sentiment","z":"ffec9165.579cc","name":"","x":452,"y":442,"wires":[["8cf03290.9f413"]]},{"id":"88d3d30a.97dd","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"false","x":773,"y":380,"wires":[]},{"id":"affb0b8a.484448","type":"inject","z":"ffec9165.579cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":164,"y":408,"wires":[["18dac0b7.f1c44f"]]},{"id":"18dac0b7.f1c44f","type":"function","z":"ffec9165.579cc","name":"","func":"msg.payload = \"wtf @jjs #go #fldkk\"\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":408,"wires":[["a517b469.18cb28"]]},{"id":"5404a465.27056c","type":"cloudant out","z":"ffec9165.579cc","name":"","cloudant":"","database":"tweet_travel","service":"hands-on-april-cloudantNoSQLDB","payonly":true,"operation":"insert","x":767,"y":442,"wires":[]},{"id":"c4d95d71.b2af8","type":"dashDB in","z":"ffec9165.579cc","dashDB":"16108800.4d0998","service":"_ext_","query":"SELECT CITY, LAT, LNG FROM WORLD_CITIES;","params":"","name":"WORLD_CITIES LAT LNG","x":361,"y":717,"wires":[["5f28afe2.12b97"]]},{"id":"70c625a3.da3d5c","type":"inject","z":"ffec9165.579cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147,"y":717,"wires":[["c4d95d71.b2af8"]]},{"id":"db93fc99.688cb","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"false","x":753,"y":717,"wires":[]},{"id":"7abfecc.5f9af14","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"payload","x":968,"y":560,"wires":[]},{"id":"f58e2410.0450b8","type":"inject","z":"ffec9165.579cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":155,"y":600,"wires":[["502661cc.e1316"]]},{"id":"e16cefbe.45431","type":"weather_insights","z":"ffec9165.579cc","name":"10-day forecasts","host":"twcservice.mybluemix.net","service":"/forecast/daily/10day.json","geocode":"0,0","units":"m","language":"zh-TW","x":521,"y":560,"wires":[["2396c465.66dcdc","785d210c.d6914"]]},{"id":"c2f9d131.19427","type":"watson-tradeoff-analytics","z":"ffec9165.579cc","name":"","x":208.5,"y":195,"wires":[[]]},{"id":"67c90876.05a868","type":"function","z":"ffec9165.579cc","name":"lat lng","func":"const idx = msg.idx || 0;\nconst entry = msg.entries[idx];\n\nmsg.payload = entry.lat+\",\"+entry.lng;\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":560,"wires":[["e16cefbe.45431"]]},{"id":"5f28afe2.12b97","type":"function","z":"ffec9165.579cc","name":"cities context","func":"msg.entries = msg.payload;\nglobal.set('cities', msg.entries);\nreturn msg;","outputs":1,"noerr":0,"x":581,"y":717,"wires":[["db93fc99.688cb"]]},{"id":"2396c465.66dcdc","type":"function","z":"ffec9165.579cc","name":"forecasts output","func":"msg.payload = msg.forecasts;\nreturn msg;","outputs":1,"noerr":0,"x":799,"y":560,"wires":[["7abfecc.5f9af14"]]},{"id":"785d210c.d6914","type":"function","z":"ffec9165.579cc","name":"loop","func":"msg.idx = (msg.idx)? msg.idx+1: 1;\nmsg.payload = msg.idx < msg.entries.length;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":507,"wires":[["b4a1e1d7.f8ea"]]},{"id":"b4a1e1d7.f8ea","type":"switch","z":"ffec9165.579cc","name":"continue","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":432,"y":507,"wires":[["67c90876.05a868"]]},{"id":"24faef42.34729","type":"dashDB in","z":"ffec9165.579cc","dashDB":"16108800.4d0998","service":"_ext_","query":"","params":"","name":"","x":133,"y":560,"wires":[[]]},{"id":"e5b00c8e.d5cdb","type":"function","z":"ffec9165.579cc","name":"check context","func":"node.warn(global.get('cities'));\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":781,"wires":[["b14c6193.be2ba"]]},{"id":"67788382.b1ad7c","type":"inject","z":"ffec9165.579cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148,"y":781,"wires":[["e5b00c8e.d5cdb"]]},{"id":"b14c6193.be2ba","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"false","x":495,"y":781,"wires":[]},{"id":"502661cc.e1316","type":"weather_insights","z":"ffec9165.579cc","name":"10-day forecasts","host":"twcservice.mybluemix.net","service":"/forecast/daily/10day.json","geocode":"0,0","units":"m","language":"zh-TW","x":523,"y":602,"wires":[["2396c465.66dcdc"]]},{"id":"5d253e36.69ab8","type":"function","z":"ffec9165.579cc","name":"forecast to CITY_TEMP","func":"msg.payload = msg.forecasts.map( f => {\n    return {\n        DATA: f.fcst_valid,\n        MAX_TEMP: f.max_temp,\n        MIN_TEMP: f.min_temp,\n        cITY: msg.city\n    };\n})\nreturn msg;","outputs":1,"noerr":0,"x":808,"y":607,"wires":[["24c04042.cee23"]]},{"id":"118ec0c7.f2d77f","type":"dashDB out","z":"ffec9165.579cc","dashDB":"16108800.4d0998","service":"_ext_","table":"CITY_TEMP","name":"","x":1022,"y":607,"wires":[]},{"id":"82014281.436e8","type":"function","z":"ffec9165.579cc","name":"to CITY_TWEET","func":"const cities = global.get('cities');\nconst tweet = \"@guy Los Angeles is so awsome#LA#travel\";//msg.payload;\nconst score = msg.sentiment.score;\n\nfunction cityTweets (t) {\n    const newEntries = [];\n    for(var i = 0; i < cities.length; i++) {\n        const text = t.replace(/\\s|#|@/g, '').toLowerCase();\n        const city = cities[i]['CITY'].replace(/\\s/g, '').toLowerCase();\n        text.indexOf(city) > -1;\n        newEntries.push({\n            CITY: city,\n            TEXT: text,\n            SCORE: score || 0\n        });\n    }\n    return newEntries;\n}\n\nmsg.payload = cityTweets(tweet);\nreturn msg;","outputs":1,"noerr":0,"x":654,"y":491,"wires":[["e4985aae.4d84c8"]]},{"id":"4aada8c0.94d5a8","type":"dashDB out","z":"ffec9165.579cc","dashDB":"16108800.4d0998","service":"_ext_","table":"CITY_TWEET","name":"","x":875,"y":491,"wires":[]},{"id":"24c04042.cee23","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"false","x":1023,"y":650,"wires":[]},{"id":"dc9ef243.9bcbd","type":"inject","z":"ffec9165.579cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":363,"wires":[["82014281.436e8"]]},{"id":"e4985aae.4d84c8","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"false","x":846,"y":521,"wires":[]},{"id":"cb45ad1e.e9889","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"16108800.4d0998","type":"dashDB","z":"","hostname":"bluemix05.bluforcloud.com","db":"BLUDB","port":"50000","name":"dashDB-vu"}]
