flow.txt
[{"id":"e13dcab6.a5f078","type":"websocket in","z":"ffec9165.579cc","name":"","server":"cb45ad1e.e9889","client":"","x":376,"y":66,"wires":[["f0851bcd.dae518"]]},{"id":"f0851bcd.dae518","type":"function","z":"ffec9165.579cc","name":"write message","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":580,"y":66,"wires":[["262873ca.3de45c"]]},{"id":"262873ca.3de45c","type":"websocket out","z":"ffec9165.579cc","name":"","server":"cb45ad1e.e9889","client":"","x":784,"y":66,"wires":[]},{"id":"9cb5da4c.bda768","type":"http in","z":"ffec9165.579cc","name":"","url":"/chat","method":"get","swaggerDoc":"","x":384,"y":134,"wires":[["6db69612.a4ab98"]]},{"id":"6db69612.a4ab98","type":"template","z":"ffec9165.579cc","name":"get page","field":"payload","fieldType":"msg","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":560,"y":134,"wires":[["5d62d522.8f952c"]]},{"id":"5d62d522.8f952c","type":"http response","z":"ffec9165.579cc","name":"","x":693,"y":134,"wires":[]},{"id":"7638de6b.94d47","type":"twitter in","z":"ffec9165.579cc","twitter":"","tags":"travel","user":"false","name":"","topic":"tweets","inputs":0,"x":297,"y":413,"wires":[[]]},{"id":"8cf03290.9f413","type":"function","z":"ffec9165.579cc","name":"","func":"node.warn(msg.sentiment);\nconst tweetInfo = text => {\n    const userReg = /@(\\w+)/g;\n    const htReg = /#(\\w+)/g;\n    const linkReg = /https:\\/\\/t.co\\/(\\w+)/g;\n    \n    return {\n        text: text,\n        sentiment: msg.sentiment,\n        users: (text.match(userReg)||[]).map(\n            u => u.substr(1)\n        ),\n        hashTags: (text.match(htReg)||[]).map(\n            ht => ht.substr(1)\n        ),\n        link: text.match(linkReg) || []\n    };\n}\nconst tweet = msg.payload;\nmsg.payload = tweetInfo(tweet);\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":413,"wires":[["88d3d30a.97dd","5404a465.27056c"]]},{"id":"a517b469.18cb28","type":"sentiment","z":"ffec9165.579cc","name":"","x":459,"y":413,"wires":[["8cf03290.9f413","82014281.436e8"]]},{"id":"88d3d30a.97dd","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"false","x":870,"y":355,"wires":[]},{"id":"affb0b8a.484448","type":"inject","z":"ffec9165.579cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171,"y":379,"wires":[["18dac0b7.f1c44f"]]},{"id":"18dac0b7.f1c44f","type":"function","z":"ffec9165.579cc","name":"","func":"msg.payload = \"wtf @jjs #go #fldkk\"\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":379,"wires":[["a517b469.18cb28"]]},{"id":"5404a465.27056c","type":"cloudant out","z":"ffec9165.579cc","name":"","cloudant":"","database":"tweet_travel","service":"hands-on-april-cloudantNoSQLDB","payonly":true,"operation":"insert","x":869,"y":413,"wires":[]},{"id":"c4d95d71.b2af8","type":"dashDB in","z":"ffec9165.579cc","dashDB":"16108800.4d0998","service":"_ext_","query":"SELECT CITY, LAT, LNG FROM WORLD_CITIES;","params":"","name":"WORLD_CITIES LAT LNG","x":375,"y":208,"wires":[["5f28afe2.12b97"]]},{"id":"70c625a3.da3d5c","type":"inject","z":"ffec9165.579cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":161,"y":208,"wires":[["c4d95d71.b2af8"]]},{"id":"db93fc99.688cb","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"false","x":767,"y":208,"wires":[]},{"id":"7abfecc.5f9af14","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"payload","x":1047,"y":679,"wires":[]},{"id":"f58e2410.0450b8","type":"inject","z":"ffec9165.579cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":87,"y":630,"wires":[["d6271ac.34f9ae8"]]},{"id":"e16cefbe.45431","type":"weather_insights","z":"ffec9165.579cc","name":"10-day forecasts","host":"twcservice.mybluemix.net","service":"/forecast/daily/10day.json","geocode":"0,0","units":"m","language":"zh-TW","x":576,"y":630,"wires":[["785d210c.d6914","5d253e36.69ab8","2396c465.66dcdc"]]},{"id":"67c90876.05a868","type":"function","z":"ffec9165.579cc","name":"lat lng","func":"const idx = msg.idx || 0;\nconst entry = msg.entries[idx];\nmsg.city = entry['CITY'];\nnode.warn(msg.city);\nmsg.payload = entry.LAT+\",\"+entry.LNG;\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":630,"wires":[["e16cefbe.45431"]]},{"id":"5f28afe2.12b97","type":"function","z":"ffec9165.579cc","name":"cities context","func":"msg.entries = msg.payload;\nglobal.set('cities', msg.entries);\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":208,"wires":[["db93fc99.688cb"]]},{"id":"2396c465.66dcdc","type":"function","z":"ffec9165.579cc","name":"forecasts output","func":"msg.payload = msg.forecasts;\nreturn msg;","outputs":1,"noerr":0,"x":809,"y":679,"wires":[["7abfecc.5f9af14"]]},{"id":"785d210c.d6914","type":"function","z":"ffec9165.579cc","name":"loop","func":"msg.idx = (msg.idx)? msg.idx+1: 1;\nmsg.payload = msg.entries.length > msg.idx;\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":577,"wires":[["b4a1e1d7.f8ea"]]},{"id":"b4a1e1d7.f8ea","type":"switch","z":"ffec9165.579cc","name":"continue","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":439,"y":577,"wires":[["67c90876.05a868"]]},{"id":"e5b00c8e.d5cdb","type":"function","z":"ffec9165.579cc","name":"check context","func":"node.warn(global.get('cities')[1662]);\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":272,"wires":[["b14c6193.be2ba"]]},{"id":"67788382.b1ad7c","type":"inject","z":"ffec9165.579cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162,"y":272,"wires":[["e5b00c8e.d5cdb"]]},{"id":"b14c6193.be2ba","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"false","x":548,"y":272,"wires":[]},{"id":"5d253e36.69ab8","type":"function","z":"ffec9165.579cc","name":"forecast to CITY_TEMP","func":"const dateJStoSQL = time =>\n    time.replace('T', \" \").slice(0,-5);\n    \nmsg.payload = msg.forecasts.slice(1).map( f => {\n    return {\n        DATE: dateJStoSQL(f.fcst_valid_local),\n        MAX_TEMP: f.max_temp,\n        MIN_TEMP: f.min_temp,\n        CITY: msg.city\n    };\n})\nreturn msg;","outputs":1,"noerr":0,"x":839,"y":630,"wires":[["118ec0c7.f2d77f"]]},{"id":"118ec0c7.f2d77f","type":"dashDB out","z":"ffec9165.579cc","dashDB":"16108800.4d0998","service":"_ext_","table":"CITY_TEMP","name":"","x":1049,"y":630,"wires":[]},{"id":"82014281.436e8","type":"function","z":"ffec9165.579cc","name":"to CITY_TWEET","func":"const cities = global.get('cities');\nconst tweet = msg.payload;\nconst score = msg.sentiment.score;\n\nfunction cityTweets (t) {\n    const newEntries = [];\n    for(var i = 0; i < cities.length; i++) {\n        var text = t.replace(/#|@/g, '').toLowerCase();\n        var city = cities[i]['CITY'];\n        if (text.indexOf(city.toLowerCase()) > -1){\n            newEntries.push({\n                CITY: city,\n                TEXT: text,\n                SCORE: score || 0\n            });\n        }\n    }\n    return newEntries;\n}\n\nmsg.payload = cityTweets(tweet);\nreturn msg;","outputs":1,"noerr":0,"x":641,"y":464,"wires":[["e4985aae.4d84c8","4aada8c0.94d5a8"]]},{"id":"4aada8c0.94d5a8","type":"dashDB out","z":"ffec9165.579cc","dashDB":"16108800.4d0998","service":"_ext_","table":"CITY_TWEET","name":"","x":880,"y":464,"wires":[]},{"id":"e4985aae.4d84c8","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"false","x":874,"y":514,"wires":[]},{"id":"d6271ac.34f9ae8","type":"function","z":"ffec9165.579cc","name":"get cities","func":"msg.entries = global.get('cities');\nreturn msg;","outputs":1,"noerr":0,"x":225,"y":630,"wires":[["67c90876.05a868"]]},{"id":"a4d01111.3053f","type":"template","z":"ffec9165.579cc","name":"Widget Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no\">\n    <title>Node-RED TradeOff Analytics Widget demo</title>\n    <script type=\"text/javascript\" src=\"http://ta-cdn.mybluemix.net/v1/TradeoffAnalytics.js\"></script>\n    <script>\n    // get the problem object from Node-RED msg.problem\n    // note the triple-curly braces syntax to avoid HTML escaping\n    var problemObj={{{problem}}};\n    \n    // prepare client\n    var taClient;\n    \n    function loadTradeoffAnalytics() {\n\t\tdocument.body.style.cursor=\"wait\" ;\n        taClient = new TradeoffAnalytics(\n            {dilemmaServiceUrl: '{{{req._parsedUrl.pathname}}}/dilemmas',\n             analyticsEventsUrl: '{{{req._parsedUrl.pathname}}}/events'\n            }, \n            'tofaWidget');\n        taClient.start(onTAReady);\n    }\n\n    // this is called-back when the widget is ready\n    function onTAReady() {\n        taClient.show(problemObj, onTAShown);\n    }\n\n    // this is called-back when the problem has shown in the widget\n    function onTAShown() {\n\t\tdocument.body.style.cursor=\"default\";\n        taClient.resize();\n    }\n    \n    // trigger the tofa widget setup when window has loaded\n\twindow.onload=loadTradeoffAnalytics;\n</script>\n</head>\n\n<body>\n    <div id=\"tofaWidget\" style=\"height:100vh\"></div>\n</body>\n</html>","x":623,"y":789,"wires":[["5682f39a.e67aac"]]},{"id":"2979cc60.059194","type":"http in","z":"ffec9165.579cc","name":"","url":"/tofaw","method":"get","swaggerDoc":"","x":235,"y":789,"wires":[["1bc342f9.0e07fd"]]},{"id":"5682f39a.e67aac","type":"http response","z":"ffec9165.579cc","name":"","x":953,"y":789,"wires":[]},{"id":"5cccdedc.467bb","type":"http in","z":"ffec9165.579cc","name":"","url":"/tofaw/dilemmas","method":"post","swaggerDoc":"","x":196,"y":847,"wires":[["e9a98b5c.cb7f58"]]},{"id":"a9944dca.de956","type":"http response","z":"ffec9165.579cc","name":"","x":954,"y":847,"wires":[]},{"id":"c3f1b4a4.016108","type":"watson-tradeoff-analytics","z":"ffec9165.579cc","name":"","x":592,"y":847,"wires":[["8b9c3aad.7d3f88"]]},{"id":"e9a98b5c.cb7f58","type":"change","z":"ffec9165.579cc","name":"","rules":[{"t":"set","p":"subject","to":"payload.subject","tot":"msg"},{"t":"set","p":"columns","to":"payload.columns","tot":"msg"},{"t":"set","p":"options","to":"payload.options","tot":"msg"},{"t":"set","p":"problem","to":"payload","tot":"msg"},{"t":"set","p":"payload","to":"payload.subject","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":847,"wires":[["c3f1b4a4.016108","53ce715e.8f6b8"]]},{"id":"8b9c3aad.7d3f88","type":"change","z":"ffec9165.579cc","name":"","rules":[{"t":"delete","p":"payload"},{"t":"set","p":"payload.problem","to":"problem","tot":"msg"},{"t":"set","p":"payload.resolution","to":"resolution","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":789,"y":847,"wires":[["a9944dca.de956"]]},{"id":"1bc342f9.0e07fd","type":"function","z":"ffec9165.579cc","name":"Set Problem","func":"// This is where we set the dimensions (columns) of the problem to analyze\n// and the raw data (options)\nvar problem = {\n  \"subject\": \"phone\",\n  \"columns\": [\n    {\n      \"key\": \"price\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"full_name\": \"Price\",\n      \"is_objective\": true,\n      \"format\": \"####0.00\"\n    },\n    {\n      \"key\": \"brand\",\n      \"type\": \"categorical\",\n      \"goal\": \"min\",\n      \"full_name\": \"Brand\",\n      \"is_objective\": true,\n      \"range\": [\n        \"Samsung\",\n        \"Apple\",\n        \"HTC\",\n        \"LG\",\n        \"Nokia\",\n        \"Sony\"\n      ],\n      \"preference\": [\n        \"Samsung\",\n        \"Apple\",\n        \"HTC\",\n        \"LG\",\n        \"Nokia\",\n        \"Sony\"\n      ]\n    },\n    {\n      \"key\": \"RAM\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"RAM (MB)\",\n      \"is_objective\": false\n    },\n    {\n      \"key\": \"screen_size\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Screen (inch)\",\n      \"is_objective\": true\n    },\n    {\n      \"key\": \"camera\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Camera\",\n      \"is_objective\": false,\n      \"format\": \"####0 MP\"\n    },\n    {\n      \"key\": \"memory_size\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Memory\",\n      \"is_objective\": false,\n      \"format\": \"####0 GB\"\n    },\n    {\n      \"key\": \"battery\",\n      \"type\": \"numeric\",\n      \"goal\": \"max\",\n      \"full_name\": \"Battery (mAh)\",\n      \"is_objective\": false\n    },\n    {\n      \"key\": \"weight\",\n      \"type\": \"numeric\",\n      \"goal\": \"min\",\n      \"full_name\": \"Weight\",\n      \"is_objective\": true,\n      \"format\": \"####0 g\"\n    },\n    {\n      \"key\": \"rDate\",\n      \"type\": \"datetime\",\n      \"goal\": \"max\",\n      \"full_name\": \"Release Date\",\n      \"is_objective\": false\n    }\n  ],\n  \"options\": [\n    {\n      \"key\": \" 1\",\n      \"name\": \"Samsung Galaxy S4 White\",\n      \"values\": {\n        \"weight\": 130,\n        \"price\": 239,\n        \"RAM\": 2048,\n        \"battery\": 2600,\n        \"camera\": 13,\n        \"memory_size\": 16,\n        \"screen_size\": 5,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2013-04-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Samsung_GALAXY_S4_zoom_%28White%29.jpg/800px-Samsung_GALAXY_S4_zoom_%28White%29.jpg'/> <a title='Photo by Samsung Belgium (Flickr: GALAXY S4 zoom (1)) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_GALAXY_S4_zoom_(White).jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"2\",\n      \"name\": \"Samsung Galaxy S4 Black\",\n      \"values\": {\n        \"weight\": 130,\n        \"price\": 239,\n        \"RAM\": 2048,\n        \"battery\": 2600,\n        \"camera\": 13,\n        \"memory_size\": 16,\n        \"screen_size\": 5,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2013-04-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Samsung_Galaxy_S4.jpg/200px-Samsung_Galaxy_S4.jpg'/><a title='Photo by Karlis Dambrans (Flickr: Samsung Galaxy S4) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S4.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"3\",\n      \"name\": \"Samsung Galaxy S3 White\",\n      \"values\": {\n        \"weight\": 133,\n        \"price\": 79,\n        \"RAM\": 2048,\n        \"battery\": 2100,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-05-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Samsung_Galaxy_S_III.png/300px-Samsung_Galaxy_S_III.png'/> <a title='Photo by GalaxyOptimus (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_III.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"4\",\n      \"name\": \"Samsung Galaxy S3 Blue\",\n      \"values\": {\n        \"weight\": 133,\n        \"price\": 79,\n        \"RAM\": 2048,\n        \"battery\": 2100,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-05-29T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Samsung_Galaxy_S_Advance_i9070.JPG/250px-Samsung_Galaxy_S_Advance_i9070.JPG'/> <a title='Photo by Macs79 (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_Advance_i9070.JPG' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"5\",\n      \"name\": \"Samsung Galaxy S3 mini White\",\n      \"values\": {\n        \"weight\": 111,\n        \"price\": 299,\n        \"RAM\": 1024,\n        \"battery\": 1000,\n        \"camera\": 5,\n        \"memory_size\": 8,\n        \"screen_size\": 4,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-10-01T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Samsung_Galaxy_S_III_mini.png/300px-Samsung_Galaxy_S_III_mini.png'/> <a title='Photo by GalaxyOptimus (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Samsung_Galaxy_S_III_mini.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"6\",\n      \"name\": \"Apple iPhone 5 White\",\n      \"values\": {\n        \"weight\": 112,\n        \"price\": 449,\n        \"RAM\": 1024,\n        \"battery\": 1440,\n        \"camera\": 8,\n        \"memory_size\": 32,\n        \"screen_size\": 4,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2012-09-21T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/IPhone5white.png/228px-IPhone5white.png'/> <a title='Photo by Pixeden.com [CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:IPhone5white.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"7\",\n      \"name\": \"Apple iPhone 5 Black\",\n      \"values\": {\n        \"weight\": 112,\n        \"price\": 449,\n        \"RAM\": 1024,\n        \"battery\": 1440,\n        \"camera\": 8,\n        \"memory_size\": 32,\n        \"screen_size\": 4,\n        \"brand\": \"Apple\",\n        \"rDate\": \"2012-09-21T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/IPhone_5.png/300px-IPhone_5.png'/> <a title='Photo by Zach Vega (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:IPhone_5.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"9\",\n      \"name\": \"HTC One\",\n      \"values\": {\n        \"weight\": 143,\n        \"price\": 189,\n        \"RAM\": 2048,\n        \"battery\": 2300,\n        \"camera\": 4,\n        \"memory_size\": 32,\n        \"screen_size\": 4.7,\n        \"brand\": \"HTC\",\n        \"rDate\": \"2013-03-01T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/7/70/HTC_One.png/149px-HTC_One.png'/> <a title='Photo by M0rphzone (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:HTC_One.png' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"10\",\n      \"name\": \"LG Optimus G\",\n      \"values\": {\n        \"weight\": 145,\n        \"price\": 189,\n        \"RAM\": 1024,\n        \"battery\": 2100,\n        \"camera\": 13,\n        \"memory_size\": 32,\n        \"screen_size\": 4.7,\n        \"brand\": \"LG\",\n        \"rDate\": \"2012-09-19T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/LG_Optimus_G_%28Black%29.jpg/330px-LG_Optimus_G_%28Black%29.jpg'/> <a title='[CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:LG_Optimus_G_(Black).jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"11\",\n      \"name\": \"Nokia Lumia 520\",\n      \"values\": {\n        \"weight\": 124,\n        \"price\": 199,\n        \"RAM\": 512,\n        \"battery\": 1430,\n        \"camera\": 5,\n        \"memory_size\": 8,\n        \"screen_size\": 4,\n        \"brand\": \"Nokia\",\n        \"rDate\": \"2013-02-25T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Lumia_520.jpg/450px-Lumia_520.jpg'/> <a title='Photo by Krby Dambrns from Latvia (MWC Barcelona 2013 260  Uploaded by RaviC) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Lumia_520.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"13\",\n      \"name\": \"Samsung Galaxy Ace 2 Black\",\n      \"values\": {\n        \"weight\": 122,\n        \"price\": 220,\n        \"RAM\": 768,\n        \"battery\": 1000,\n        \"camera\": 5,\n        \"memory_size\": 4,\n        \"screen_size\": 3.8,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-02-05T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Front_Ace_2.JPG/330px-Front_Ace_2.JPG'/> <a title='Photo by Fan samsung ace2 (Own work) [CC BY-SA 3.0 (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Front_Ace_2.JPG' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"14\",\n      \"name\": \"Samsung Galaxy Mini 2 Black\",\n      \"values\": {\n        \"weight\": 105,\n        \"price\": 220,\n        \"RAM\": 512,\n        \"battery\": 1300,\n        \"camera\": 3.15,\n        \"memory_size\": 4,\n        \"screen_size\": 3.27,\n        \"brand\": \"Samsung\",\n        \"rDate\": \"2012-02-05T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/GT-S6500L.jpg/375px-GT-S6500L.jpg'/> <a title='Photo by Eriqvaldezz (Own work) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:GT-S6500L.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    },\n    {\n      \"key\": \"15\",\n      \"name\": \"Sony Xperia P Silver\",\n      \"values\": {\n        \"weight\": 120,\n        \"price\": 255,\n        \"RAM\": 1024,\n        \"battery\": 1305,\n        \"camera\": 8,\n        \"memory_size\": 16,\n        \"screen_size\": 4,\n        \"brand\": \"Sony\",\n        \"rDate\": \"2012-02-27T00:00:00Z\"\n      },\n      \"description_html\": \"<img style='max-height: 100px; max-width: 100px;'  src='http://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Xperia_P.jpg/330px-Xperia_P.jpg'/> <a title='Photo by vsy (http://www.flickr.com/photos/vsy/7176314726/) [CC BY-SA 2.0 (http://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia Commons' href='http://commons.wikimedia.org/wiki/File:Xperia_P.jpg' target='_blank'> <img style='max-height: 14px; max-width: 14px;'  src='http://mirrors.creativecommons.org/presskit/icons/cc.png'/> </a>\"\n    }\n  ]\n};\nmsg.problem=global.get('problem')//JSON.stringify(problem);\nreturn msg;","outputs":1,"noerr":0,"x":416,"y":789,"wires":[["a4d01111.3053f"]]},{"id":"6f12709.61a369","type":"http in","z":"ffec9165.579cc","name":"","url":"/tofaw/events","method":"post","swaggerDoc":"","x":207,"y":897,"wires":[["531b58cd.eaac18","11f143b0.e2af6c"]]},{"id":"531b58cd.eaac18","type":"http response","z":"ffec9165.579cc","name":"","x":955,"y":897,"wires":[]},{"id":"11f143b0.e2af6c","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"false","x":287,"y":962,"wires":[]},{"id":"214f3df7.81fa42","type":"inject","z":"ffec9165.579cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152,"y":312,"wires":[["eb77295c.4b9358"]]},{"id":"3c7709e9.0f4236","type":"function","z":"ffec9165.579cc","name":"","func":"const columns = [\n  {\n    \"key\": \"score\",\n    \"type\": \"numeric\",\n    \"goal\": \"max\",\n    \"full_name\": \"Twitter Score\",\n    \"is_objective\": true\n  },\n  {\n    \"key\": \"max_avg\",\n    \"type\": \"numeric\",\n    \"goal\": \"max\",\n    \"full_name\": \"MAX temp avg\",\n    \"is_objective\": true\n  },\n  {\n    \"key\": \"min_avg\",\n    \"type\": \"numeric\",\n    \"goal\": \"max\",\n    \"full_name\": \"MIN temp avg\",\n    \"is_objective\": false\n  },\n  {\n    \"key\": \"lat\",\n    \"type\": \"numeric\",\n    \"goal\": \"max\",\n    \"full_name\": \"latitude\",\n    \"is_objective\": false\n  },\n  {\n    \"key\": \"lng\",\n    \"type\": \"numeric\",\n    \"goal\": \"max\",\n    \"full_name\": \"longitude\",\n    \"is_objective\": true\n  },\n];\nconst options = msg.payload.map( (e, i) => {\n    return {\n        key: i+1,\n        name: e.city,\n        values: {\n            max_avg: e.MAX_AVG || 0,\n            min_avg: e.MIN_AVG || 0,\n            score: e.SCORE || 0,\n            lat: e.LAT || 0,\n            lng: e.LNG || 0\n        },\n        description_html: ''\n    }\n});\nconst problem = {\n  \"subject\": \"tavel\",\n  \"columns\": columns,\n  \"options\": options.slice(0,100)\n};\nmsg.problem=JSON.stringify(problem);\nglobal.set('problem',JSON.stringify(problem));\nreturn msg;\n","outputs":1,"noerr":0,"x":554,"y":312,"wires":[["f0404858.2929d8"]]},{"id":"eb77295c.4b9358","type":"dashDB in","z":"ffec9165.579cc","dashDB":"16108800.4d0998","service":"_ext_","query":"select c.CITY, c.LAT, c.LNG, t.score, w.min_avg, w.max_avg\nfrom WORLD_CITIES c\nleft join (\n    select CITY, avg(MIN_TEMP) as min_avg, avg(MAX_TEMP) as max_avg\n    from CITY_TEMP group by CITY\n) w on c.CITY = w.CITY\nleft join (\n\tselect CITY, sum(SCORE) as score\n    from CITY_TWEET group by CITY\n) t on c.CITY = t.CITY;","params":"","name":"problem source","x":329,"y":312,"wires":[["b14c6193.be2ba","3c7709e9.0f4236"]]},{"id":"258e80ba.c7178","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"false","x":890,"y":312,"wires":[]},{"id":"f0404858.2929d8","type":"function","z":"ffec9165.579cc","name":"debug","func":"msg.payload = msg.problem;\nreturn msg;","outputs":1,"noerr":0,"x":699,"y":311,"wires":[["258e80ba.c7178"]]},{"id":"53ce715e.8f6b8","type":"debug","z":"ffec9165.579cc","name":"","active":true,"console":"false","complete":"true","x":551,"y":751,"wires":[]},{"id":"cb45ad1e.e9889","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"16108800.4d0998","type":"dashDB","z":"","hostname":"bluemix05.bluforcloud.com","db":"BLUDB","port":"50000","name":"dashDB-vu"}]
